@model IAmHungry.Models.RestaurantInfo

@{
    ViewBag.Title = "AskForTime";
}

<h2>AskForTime</h2>

@{
    var counterForHtml = 0;
    foreach (var json in Model.RestaurantJson)
    {
        <div id="id-@counterForHtml">

        </div>
        counterForHtml++;
    }
}


    <script>
        var counterForScript = 0;
        var restaurants = [];
        var timeNow = 
        @{var counter = 4;
            foreach (var restaurantObject in Model.RestaurantJson)
            {

                <text>

        var a = @Html.Raw(restaurantObject);

                    restaurants.push(a);
                </text>
                    }
                counter--;
                
       }

    </script>


